@import url(../styles/common.css);



body {
  font-size: 2em;
}



form, fieldset {
  border: 3px solid rgb(var(--col-gray));
  border-radius: 20px;
  align-content: center;
  flex-wrap: wrap;
}



fieldset {
  display: flex;
}




form {
  min-width: fit-content;
  padding: 1em;
}



form output {
  display: block;
  padding-top: 1em;
}



form input, form select {
  margin: 10px;
  padding: .5em;
  width: fit-content;
  border-radius: 1em;
  font-size: xx-large;
  color: rgb(var(--col-font));
  font-family: var(--font-main);
  background-color: rgb(var(--col-main));
  border: 2px solid rgb(var(--col-inactive));
}



input:focus, select:focus {
  border: 3px solid rgb(var(--col-font));
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}



.operand {
  color: rgb(var(--col-orange));
}



.operator {
  color: rgb(var(--col-cyan));
}



output.result.success {
  color: rgb(var(--col-limegreen));
}



output.result.failure {
  color: rgb(var(--col-red));
}



output.result span {
  color: rgb(var(--col-font));
}
