:root {
  --font-main: "Source Code Pro SemiBold";

  --col-red       : 247, 118, 142;
  --col-orange    : 255, 158, 100;
  --col-yellow    : 224, 175, 104;
  --col-limegreen : 158, 206, 106;
  --col-cyan      : 137, 221, 255;
  --col-purple    : 187, 154, 247;
  --col-white     : 192, 202, 233;
  --col-lightgray : 154, 166, 206;
  --col-gray      :  81,  89, 125;
  --col-black     :  26,  27,  38;
  --col-main      : var(--col-black);
  --col-inactive  : var(--col-gray);
  --col-font      : var(--col-white);
}



body {
  background-color: rgb(var(--col-main));
  font-family: var(--font-main);
  color: rgb(var(--col-font));
  font-size: 24px;
  max-width: 100%;
}



pre {
  font-family: var(--font-main);
}
